{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Bienvenue sur le blog</h1>

		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ante nec augue hendrerit aliquam non eget nisl. Aliquam erat volutpat. Donec felis dui, condimentum ac purus vel, fermentum euismod nulla. Nullam vitae suscipit nibh. Duis risus turpis, iaculis non pulvinar et, luctus ut lorem. Pellentesque laoreet malesuada tellus nec sodales. Fusce venenatis placerat sagittis. Maecenas congue quam ultrices mattis varius.</li>
			<li>Pellentesque rutrum viverra elit sed sagittis. Aliquam eget vulputate tortor. Vivamus erat risus, pellentesque eget lorem at, faucibus commodo augue. Pellentesque non suscipit quam. In hac habitasse platea dictumst. Ut eget tortor velit. Maecenas consequat velit nec diam egestas, eu placerat nisi suscipit. Vivamus nec tellus orci. Sed porttitor ornare mauris commodo consequat. Quisque sed lacus suscipit nisi faucibus egestas. Nullam nulla orci, suscipit non purus sit amet, ultrices sodales nulla. Proin convallis rhoncus dui. In varius arcu in dolor gravida dignissim. Nam eget maximus lectus, at rutrum lacus. Proin justo ipsum, lacinia ut gravida in, dapibus non nibh. Aenean erat sem, placerat ac iaculis a, sollicitudin ullamcorper est.</li>
		</ul>
	</div>
{% endblock %}
